# TSDC Data Cleaning

This notebook is set up to intake the files from the TSDC records and process them according to the data cleaning outlined in our paper

Current count is precise num users and up by 3 trips

In [1]:
#path configuration
to_data_parent = "../Data/abby_ceo" #path to the parent folder, should contain program subfolders
to_mini_data = "../Data/mini_pilot/data" #path to the mini data folder, contains an analysis trips file
to_data_folder = "../Data" #data folder, where composite data files will be written/read

In [3]:
import numpy as np
import pandas as pd
from collections import defaultdict
from data_utilities import *

# Loading mapping dictionaries from mapping_dictionaries notebook
%store -r df_ei
%store -r dic_re
%store -r dic_pur
%store -r dic_fuel

# convert a dictionary to a defaultdict
dic_re = defaultdict(lambda: 'Other',dic_re)
dic_pur = defaultdict(lambda: 'Other',dic_pur)
dic_fuel = defaultdict(lambda: 'Other',dic_fuel)

## Mini Pilot Data

In [4]:
mini_confirmed_trips = pd.read_csv(to_mini_data + '/analysis_confirmed_trip.csv')

In [5]:
print(len(mini_confirmed_trips), "total minipilot trips")
print(mini_confirmed_trips.perno.nunique(), "total minipilot users")

3492 total minipilot trips
13 total minipilot users

In [6]:
## remove trips with no label and count again
labeled_mini = mini_confirmed_trips[mini_confirmed_trips.data_user_input_mode_confirm.notna()]
labeled_mini = mini_confirmed_trips[mini_confirmed_trips.data_user_input_purpose_confirm.notna()]

print(len(labeled_mini), "labeled minipilot trips") #only 25 over data used in paper
print(labeled_mini.perno.nunique(), "minipilot users who labeled")#same as data used in paper

2403 labeled minipilot trips
12 minipilot users who labeled

In [7]:
mini_data = labeled_mini.copy()

#first, add the cleaned mode
mini_data['Mode_confirm']= mini_data['data_user_input_mode_confirm'].map(dic_re)

#second, add the cleaned replaced mode ASSUMES PROGRAM
mini_data['Replaced_mode']= mini_data['data_user_input_replaced_mode'].map(dic_re)

#third, add the cleaned purpose
mini_data['Trip_purpose']= mini_data['data_user_input_purpose_confirm'].map(dic_pur)

In [8]:
# Combine variable categories
mini_data = mini_data.replace('Gas Car, drove alone', 'Car')
mini_data = mini_data.replace('Gas Car, with others', 'Shared Car')
mini_data = mini_data.replace('Bikeshare', 'Shared Micromobility')
mini_data = mini_data.replace('Scooter share', 'Shared Micromobility')
mini_data = mini_data.replace('Regular Bike', 'Personal Micromobility')
mini_data = mini_data.replace('Skate board', 'Personal Micromobility')
mini_data = mini_data.replace('Train', 'Transit')
mini_data = mini_data.replace('Free Shuttle', 'Transit')
mini_data = mini_data.replace('Bus', 'Transit')
mini_data = mini_data.replace('Walk', 'Walk')
mini_data = mini_data.replace('Taxi/Uber/Lyft', 'Ridehail')
mini_data = mini_data.replace('Pilot ebike', 'E-Bike')

#filter out 'not a trip' trips
mini_data = mini_data[~mini_data['Mode_confirm'].isin(['Not a Trip'])]
mini_data = mini_data[~mini_data['Replaced_mode'].isin(['Not a Trip'])]
mini_data = mini_data[~mini_data['Trip_purpose'].isin(['not_a_trip'])]

print(len(mini_data), "trips once not a trip is removed")

2354 trips once not a trip is removed

In [9]:
mini_data.loc[mini_data['Mode_confirm']=='Personal Micromobility', 'Mode_confirm'] = 'Other'
mini_data.loc[mini_data['Mode_confirm']=='Shared Micromobility', 'Mode_confirm'] = 'Other'

all_trips = mini_data.groupby(['Mode_confirm'], as_index=False).count()[['Mode_confirm','data_distance']]
all_trips['proportion'] = all_trips['data_distance'] / np.sum(all_trips.data_distance)
all_trips['trip_type'] = 'All Trips'

work_trips = mini_data[mini_data['Trip_purpose']=='Work'].copy()
work_trips = work_trips.groupby(['Mode_confirm'], as_index=False).count()[['Mode_confirm','data_distance']]
work_trips['proportion'] = work_trips['data_distance'] / np.sum(work_trips.data_distance)
work_trips['trip_type'] = 'Work Trips'
work_trips.loc[1.5] = 'Other', 0, 0, 'Work Trips'
work_trips = work_trips.sort_index().reset_index(drop=True)

mini_data = pd.concat([all_trips,work_trips])
mini_data['Dataset'] = 'Minipilot'
mini_data.columns = ['Mode','Count','Proportion','Trip Type', "Dataset"]

In [10]:
mini_data #trip breakdown

         Mode  Count  Proportion   Trip Type    Dataset
0         Car    477    0.202634   All Trips  Minipilot
1      E-bike    776    0.329652   All Trips  Minipilot
2       Other     28    0.011895   All Trips  Minipilot
3    Ridehail     65    0.027613   All Trips  Minipilot
4  Shared Car    685    0.290994   All Trips  Minipilot
5     Transit    155    0.065845   All Trips  Minipilot
6        Walk    168    0.071368   All Trips  Minipilot
0         Car    110    0.295699  Work Trips  Minipilot
1      E-bike    134    0.360215  Work Trips  Minipilot
2       Other      0    0.000000  Work Trips  Minipilot
3    Ridehail      1    0.002688  Work Trips  Minipilot
4  Shared Car    101    0.271505  Work Trips  Minipilot
5     Transit      3    0.008065  Work Trips  Minipilot
6        Walk     23    0.061828  Work Trips  Minipilot

### matching minis to survey data

In [11]:
mini_trips = pd.read_csv(to_mini_data + '/analysis_confirmed_trip.csv')
mini_surveys = pd.read_csv(to_mini_data + '/survey_household.csv')

print(len(mini_trips), "minpilot trips")
print(len(mini_surveys), "minpilot surveys") #15 surveys
print(mini_trips.perno.nunique(), "minpilot users") #13 unique users

socio_data = mini_surveys[~mini_surveys.perno.isnull()]
print(len(socio_data), "surveys after dropping null")

# Deal with people who have multiple responses by using most recent
socio_data = socio_data.sort_values(by=['perno', 'timestamp'])
socio_data.drop_duplicates(subset=['perno'], keep='last', inplace=True)
socio_data['user_id_socio'] = socio_data.perno
socio_data.user_id_socio = [i.replace('-','') for i in socio_data.user_id_socio] # remove all dashes from strings
socio_data = socio_data.drop(labels='perno', axis=1)

# Lose some trips due to people with no survey responses
mini_trips['user_id_socio'] = mini_trips.perno.astype(str)
mini_trips.user_id_socio = [i.replace('-','') for i in mini_trips.user_id_socio] # remove all dashes from strings
mini_trips = mini_trips.merge(socio_data, on='user_id_socio')

print(mini_trips.user_id_socio.nunique(), "minipilot users with surveys")
print(len(mini_trips), "trips after pairing with surveys")

mini_trips.to_csv(to_data_folder + "/minipilot_cleaned.csv")

3492 minpilot trips
15 minpilot surveys
13 minpilot users
15 surveys after dropping null
12 minipilot users with surveys
3662 trips after pairing with surveys

## Full Pilot Data

In [12]:
#loop over
folders = ['4c', 'cc', 'fc', 'pc', 'sc', 'vail_22']
datasets = []

for program in folders:
    print('\nstarting with ', program)
    
    #create dataset with surveys and trips
    trips = pd.read_csv(to_data_parent + '/' + program + '/analysis_confirmed_trip.csv')
    print(len(trips), 'trips')
    print(trips.perno.nunique(), 'people')

    surveys = pd.read_csv(to_data_parent + '/' + program + '/' + program + '_survey_household.csv')
    print(len(surveys), 'surveys')

    #drop any null ids
    socio_data = surveys[~surveys['unique_user_id_autofilled_do_not_edit'].isnull()]
    print(len(socio_data), 'surveys after dropping null ids')

    #drop duplicates
    socio_data = socio_data.sort_values(by=['unique_user_id_autofilled_do_not_edit', 'timestamp'])
    socio_data.drop_duplicates(subset=['unique_user_id_autofilled_do_not_edit'], keep='last', inplace=True)
    print(len(socio_data),'surveys', socio_data['unique_user_id_autofilled_do_not_edit'].nunique(), 'users after dropping duplicates')

    #prepare survey ids for merging
    socio_data['user_id_socio'] = socio_data['unique_user_id_autofilled_do_not_edit'].astype(str)
    socio_data['user_id_socio'] = socio_data['user_id_socio'].str.strip() #remove leading or trailing whitespace!!
    socio_data['user_id_socio'] = socio_data['user_id_socio']
    socio_data = socio_data.drop(labels='unique_user_id_autofilled_do_not_edit', axis=1)
    
    
    #prepare trip ids for merging
    trips['user_id_socio'] = trips.perno.astype(str)
    trips['user_id_socio'] = trips['user_id_socio'].str.strip() #remove leading or trailing whitespace!!
    trips.user_id_socio = [i.replace('-','') for i in trips.user_id_socio] # remove all dashes from strings
    
    #merge the data
    data = trips.merge(socio_data, on='user_id_socio')
    print(len(data), 'trips after merging')
    print(data.user_id_socio.nunique(), 'people after merging')
    
    data['program'] = program.split('_')[0]
    
    #add to list of datasets
    datasets.append(data)

starting with  4c
14424 trips
15 people
28 surveys
28 surveys after dropping null ids
15 surveys 15 users after dropping duplicates
12707 trips after merging
14 people after merging

starting with  cc
75199 trips
52 people
72 surveys
72 surveys after dropping null ids
50 surveys 50 users after dropping duplicates
72275 trips after merging
47 people after merging

starting with  fc
32442 trips
30 people
47 surveys
47 surveys after dropping null ids
30 surveys 30 users after dropping duplicates
32341 trips after merging
29 people after merging

starting with  pc
51196 trips
39 people
65 surveys
65 surveys after dropping null ids
39 surveys 39 users after dropping duplicates
50693 trips after merging
38 people after merging

starting with  sc
17989 trips
22 people
29 surveys
29 surveys after dropping null ids
15 surveys 15 users after dropping duplicates
15565 trips after merging
14 people after merging

starting with  vail_22
9133 trips
12 people
11 surveys
11 surveys after dropping null ids
9 surveys 9 users after dropping duplicates
7447 trips after merging
9 people after merging

In [13]:
#merge them all together
full_data = pd.concat(datasets)
print(len(full_data), 'trips')
print(full_data.perno.nunique(), 'users')

191028 trips
151 users

In [14]:
#filter out unlabeled trips -- accept partial labels -- needed for proper user count
labeled_data = full_data[full_data.data_user_input_mode_confirm.notna() | 
                         full_data.data_user_input_purpose_confirm.notna() |
                         full_data.data_user_input_replaced_mode.notna()]

print(len(labeled_data), 'labeled trips')
print(labeled_data.user_id_socio.nunique(), 'users who labeled')

75689 labeled trips
147 users who labeled

In [15]:
labeled_data.rename(columns={'user_id_socio':'user_id',
                          'please_identify_which_category_represents_your_total_household_':'HHINC',
                          'how_many_motor_vehicles_are_owned_leased_or_available_for_regul':'VEH',
                            ' how_many_motor_vehicles_are_owned_leased_or_available_for_regul':'VEH',
                             'how_many_motor_vehicles_are_owned_leased_or_available_for_regul ':'VEH',
                           'in_which_year_were_you_born?':'AGE',
                          'including_yourself_how_many_people_live_in_your_home?':'HHSIZE',
                          'how_many_children_under_age_18_live_in_your_home?':'CHILDREN',
                          'what_is_your_gender?':'GENDER',
                          'if_you_were_unable_to_use_your_household_vehicles_which_of_the_':'available_modes',
                          'are_you_a_student?':'STUDENT',
                         'data_duration':'duration', 
                         'data_distance':'distance'}, inplace=True)

/tmp/ipykernel_24/3087769200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  labeled_data.rename(columns={'user_id_socio':'user_id',

In [16]:
data = labeled_data.copy()
programs = ["4c", "cc", "fc", "pc", "sc", "vail"]
returned_dfs = separate_and_count_programs(data, programs)

13 users in 4c
4458 trips in 4c
46 users in cc
28058 trips in cc
29 users in fc
11751 trips in fc
36 users in pc
17767 trips in pc
14 users in sc
8432 trips in sc
9 users in vail
5223 trips in vail

so far so good, we're looking for at least 122 users and at least 61,496 trips after ALL cleaning

In [17]:
data = labeled_data.copy()

#first, add the cleaned mode
data['Mode_confirm']= data['data_user_input_mode_confirm'].map(dic_re)

#second, add the cleaned replaced mode ASSUMES PROGRAM
data['Replaced_mode']= data['data_user_input_replaced_mode'].map(dic_re)

#third, add the cleaned purpose
data['Trip_purpose']= data['data_user_input_purpose_confirm'].map(dic_pur)

In [18]:
#save the data for later
data.to_csv(to_data_folder + "/expanded_ct.csv")

In [19]:
# Get timestamp from known year/month/day aggregated to days
data.rename(columns={'data_start_local_dt_year':'year','data_start_local_dt_month':'month','data_start_local_dt_day':'day'}, inplace=True)
data['date_time'] = pd.to_datetime(data[['year','month','day']])

# Fix age (birth year to age)
data['AGE'] = 2022 - data['AGE']

# Number of workers (size of HH - kids)
data['WORKERS'] = data['HHSIZE'] - data['CHILDREN']

# Duration in minutes (hours to minutes)
data['duration'] = data['duration'] / 60

# duration in miles (meters to miles)
data['distance_miles'] = data['distance'] * 0.0006213712

# E-bike/not E-Bike variable
data['is_ebike'] = "E-Bike Trips"
data.loc[data['Mode_confirm']!="E-bike", 'is_ebike'] = "Non E-Bike Trips"

In [20]:
print(len(data), "trips")
print(data.user_id.nunique(), "users")

#loose some users that did not give this information (and their trips)
#records that had ’prefer not to say’ as a response for household income, household vehicles, and other available modes
data = data[~data['HHINC'].isin(['Prefer not to say'])]
data = data[~data['VEH'].isin(['Prefer not to say / Prefiero no decir.'])]
data = data[~data['available_modes'].isin(['None', 'Prefer not to say'])]

print(len(data), "trips after dropping non responses")
print(data.user_id.nunique(), "users after dropping non responses")

data['HHINC_NUM'] = data.HHINC.replace(['Less than $24,999',
                                       '$25,000-$49,999',
                                       '$50,000-$99,999',
                                       '$100,000 -$149,999',
                                       '$150,000-$199,999',
                                       '$200,000 or more'], [12500,37500,75000,125000,175000,250000])

# Calculate average income per adult in the household
data['PINC'] = data['HHINC_NUM'] / data['WORKERS']

# Combine variable categories
data = data.replace('Gas Car, drove alone', 'Car')
data = data.replace('Gas Car, with others', 'Shared Car')
data = data.replace('Bikeshare', 'Shared Micromobility')
data = data.replace('Scooter share', 'Shared Micromobility')
data = data.replace('Regular Bike', 'Personal Micromobility')
data = data.replace('Skate board', 'Personal Micromobility')
data = data.replace('Train', 'Transit')
data = data.replace('Free Shuttle', 'Transit')
data = data.replace('Bus', 'Transit')
data = data.replace('Walk', 'Walk')
data = data.replace('Taxi/Uber/Lyft', 'Ridehail')
data = data.replace('Pilot ebike', 'E-Bike')

# Categorical type will include all days/modes in groupby even if there is no data for a particular tabulation
data.user_id = pd.Categorical(data.user_id)
data.date_time = pd.Categorical(data.date_time)
data.mode_confirm = pd.Categorical(data.data_user_input_mode_confirm, ordered=True, categories=np.unique(list(dic_re.keys())))

# Add order to categorical variables
data.HHINC = pd.Categorical(data.HHINC, ordered=True)
data['Mode'] = pd.Categorical(data.Mode_confirm, ordered=True, categories=[
    'E-bike',
    'Car',
    'Shared Car',
    'Walk',
    'Transit',
    'Personal Micromobility',
    'Shared Micromobility',
    'Ridehail',
    'Other'])
data.VEH = data.VEH.astype(str)
data.VEH = pd.Categorical(data.VEH, ordered=True, categories=['0','1','2','3','4+'])
data['PINC_NUM'] = data['PINC']
data.PINC = pd.cut(data.PINC, bins=[0,10000,20000,30000,40000,50000,60000,70000,999999],
                  labels=["$0-9",
                         "$10-19",
                         "$20-29",
                         "$30-39",
                         "$40-49",
                         "$50-59",
                         "$60-69",
                         "$70+"])

75689 trips
147 users
68483 trips after dropping non responses
135 users after dropping non responses

/tmp/ipykernel_24/3002470374.py:40: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.mode_confirm = pd.Categorical(data.data_user_input_mode_confirm, ordered=True, categories=np.unique(list(dic_re.keys())))

In [21]:
#filtered out ages that were greater than 100
data = data[data['AGE'] < 100]

#filter out durations longer than 8 hours
data = data[data['duration']<480]

#distances more than 50 miles 
data = data[data['distance_miles']<50]

#filter household sizes smaller than the number of kids
data = data[data['HHSIZE']>data['CHILDREN']]

#filter out households greater than 10
data = data[data['HHSIZE']<10]

In [22]:
# Vehicles per driver
data = data[data['VEH'].notna()] #vails VEH nums were not strings?
data['VEH_num'] = data['VEH'].replace(['1','2','3','4+'],[1,2,3,4]).astype(int)
data['DRIVERS'] = data["including_yourself_how_many_people_have_a_driver's_license_in_y"]
data['DRIVERS_num'] = data['DRIVERS'].replace
data['veh_per_driver'] = (data['VEH_num'] / data['DRIVERS']).fillna(0)
data.loc[data['veh_per_driver']==np.inf, 'veh_per_driver'] = 0

#filter out 'not a trip' trips
data = data[~data['Mode_confirm'].isin(['Not a Trip'])]
data = data[~data['Replaced_mode'].isin(['Not a Trip'])]
data = data[~data['Trip_purpose'].isin(['not_a_trip'])]

print(len(data), 'trips after filtering') #around 63,000
print(data.user_id.nunique(), 'users after filtering') #132

63999 trips after filtering
132 users after filtering

# filtering out trips before first e-bike

In [23]:
data.rename(columns = {'data_start_ts':'start_ts'}, inplace=True)

programs = ["4c", "cc", "fc", "pc", "sc", "vail"]
program_dfs = separate_and_count_programs(data, programs)

#filtering each of them
from datetime import datetime

after_ebike_dfs = []
for program_df in program_dfs:
    print("processing", program_df.program.unique())
    after_first_ebike_trips = filter_before_ebike(program_df)
    after_ebike_dfs.append(after_first_ebike_trips)
    
#combining the filtered datasets
filtered_merged = pd.concat(after_ebike_dfs, axis=0)

#check number of trips and users
separate_and_count_programs(filtered_merged, programs)

print(len(filtered_merged), "trips in combined df") #
print(filtered_merged['user_id'].nunique(), "users in combined df") #

10 users in 4c
3358 trips in 4c
43 users in cc
25410 trips in cc
26 users in fc
10952 trips in fc
32 users in pc
13071 trips in pc
13 users in sc
6887 trips in sc
8 users in vail
4321 trips in vail
processing ['4c']

/usr/src/app/saved-notebooks/PaperVizualizations/Abby/data_utilities.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  program_df['start_ts']= pd.to_datetime(program_df['start_ts'], utc=True, unit='s')

10 users before filtering
10 users who traveled by ebike
processing ['cc']

/usr/src/app/saved-notebooks/PaperVizualizations/Abby/data_utilities.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  program_df['start_ts']= pd.to_datetime(program_df['start_ts'], utc=True, unit='s')

43 users before filtering
42 users who traveled by ebike
processing ['fc']

/usr/src/app/saved-notebooks/PaperVizualizations/Abby/data_utilities.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  program_df['start_ts']= pd.to_datetime(program_df['start_ts'], utc=True, unit='s')

26 users before filtering
22 users who traveled by ebike
processing ['pc']

/usr/src/app/saved-notebooks/PaperVizualizations/Abby/data_utilities.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  program_df['start_ts']= pd.to_datetime(program_df['start_ts'], utc=True, unit='s')

32 users before filtering
29 users who traveled by ebike
processing ['sc']

/usr/src/app/saved-notebooks/PaperVizualizations/Abby/data_utilities.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  program_df['start_ts']= pd.to_datetime(program_df['start_ts'], utc=True, unit='s')

13 users before filtering
11 users who traveled by ebike
processing ['vail']

/usr/src/app/saved-notebooks/PaperVizualizations/Abby/data_utilities.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  program_df['start_ts']= pd.to_datetime(program_df['start_ts'], utc=True, unit='s')

8 users before filtering
8 users who traveled by ebike
10 users in 4c
2242 trips in 4c
42 users in cc
25152 trips in cc
22 users in fc
10656 trips in fc
29 users in pc
12619 trips in pc
11 users in sc
6516 trips in sc
8 users in vail
4314 trips in vail
61499 trips in combined df
122 users in combined df

In [24]:
#Summary statistics table
stat_data = filtered_merged[['distance','duration']]
stat_data.describe()

           distance      duration
count  61499.000000  61499.000000
mean    6342.273239     24.148134
std     9654.301203     30.704004
min      100.021226      0.000068
25%     1163.724712      9.174054
50%     3199.192205     15.289935
75%     7003.226418     28.071791
max    80444.735420    479.495935

In [ ]:
#save as a csv, to be used as input to analysis!
filtered_merged.to_csv(to_data_folder + "/tsdc_filtered_merged_trips.csv")